{% extends 'template.html' %}

{% block style %}

{% endblock %}

{% block script %}

{% endblock %}

{% block content %}

 <div class="container-fluid bg-body">
     <h2>About The Curriculum</h2>
     <p> The Pediatric Value Curriculum, sponsored by funding from the Association of Pediatric Program Directors,
         aims to provide a cost and value curriculum for pediatric residency programs that is accessible,
         interactive, fun, and demonstrates significant change in behaviors and practices.</p>
     <p> The Institute of Medicine estimates that a third of healthcare expenditures, or approximately $800 billion
         annually is unnecessary and/or wasteful. Over the last fifty years, health care expenditures in the United
         States have grown more than five times faster than the gross domestic product.  Furthermore, they have
         increased fifty times faster than actual wages.<sup>1</sup> In pediatrics, healthcare spending continues
         to increase with the most recent statistics demonstrating a 4.6% increase from 2010-2013.  More than 20%
         of pediatric healthcare spending occurs in the acute inpatient setting despite a relatively low utilization
         of only 40 acute inpatient admissions per 1,000 children.<sup>2</sup> It is vital that in the current age
         of increased scrutiny of healthcare costs by government, patients, and insurance companies that physicians
         grow to better understand the waste in the system and make changes themselves.<sup>3</sup> In addition,
         the Accreditation Council for Graduate Medical Education mandates that trainee physicians “incorporate
         considerations of cost awareness” into their clinical practice;<sup>4</sup> however, many programs do not
         currently have in place the curriculum to facilitate this education.<sup>5</sup></p>
     <h2>The curriculum consists of: </h2>
        <ul>
            <li>Four core lectures with associated activities and facilitator guides</li>
            <li>A morning report template for case based discussions including the $1000 Work Up Tool, an
                interactive cost calculator to be used during these sessions</li>
            <li>Guide for development and implementation of a more intensive quality improvement value curriculum</li>
            <li>Survey tools to evaluate knowledge gained through the curriculum</li>
        </ul>
     <h2>References</h2>
        <ol>
            <li>Institute of Medicine. The Healthcare Imperative: Lowering Costs and Improving Outcomes: Workshop Series Summary. Washington, DC: National Academies Press; 2010.</li>
            <li>Children’s Health Spending 2010-2013. Healthcare Cost Institute. http://www.healthcostinstitute.org/children’s-health-spending-2010–2013</li>
            <li>Detsky AS, Verma AA. A new model for medical education: Celebrating restraint. JAMA. 2012; 308:1329–1330.</li>
            <li>Accreditation Council of Graduate Medical Education (ACGME). Common Program Requirements: General Competencies. http://www.acgme.org/acgmeweb/Portals/0/PFAssets/ProgramResources/Common_Program_Requirements_07012011[1].pdf Accessed: February 2, 2015</li>
            <li>Varkey P, Murad MH, Braun C, Grall KJ, Saoji V. A review of cost-effectiveness, cost-containment and economics curricula in graduate medical education. J Eval Clin Pract. 2010; 16 (6): 1055-1062</li>
        </ol>

{% endblock %}