{% extends 'template.html' %}

{% block style %}

{% endblock %}

{% block script %}

{% endblock %}

{% block content %}

 <div class="container-fluid bg-body">
            <div class="row" style="padding-top: 15vh">
                <h3 class="text-center"> Please click the following link to download curriculum files </h3>
                <h4>&nbsp;</h4>
                <h3 class="text-center">
                    <a href = "https://www.dropbox.com/sh/fcvi92ed58wka0i/AAB_TCbvDkUVRca-64c40UPna?dl=0">Download</a>
                </h3>
            </div>
 </div>

{% endblock %}