{% extends 'template.html' %}

{% block style %}

{% endblock %}

{% block script %}

{% endblock %}

{% block content %}


        <h2 class="text-center">Welcome to the pediatric resident value curriculum! </h2>
        <p>&nbsp;</p>
        {% if authenticated %}
            <p class="text-center"><a class="btn-lg btn-primary" href = "/logout/" role="button">Logout</a></p>
        {%  else %}
            <p class="text-center"><a class="btn-lg btn-primary" href = "/login/" role="button">Login</a>
            <p class="text-center">
                <a href='/signup/'>Click here to create an account if you don't have one</a>
            </p>
        {% endif %}


{% endblock %}