{% extends 'template.html' %}

{% block style %}

#pagecontent::after {
    content: "";
 background-image: url('/static/hvp_background.png');
 background-repeat:no-repeat;
    opacity: 0.06;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
    }

{% endblock %}

{% block script %}

{% endblock %}

{% block content %}


        <h1 class="text-center">Welcome to the pediatric resident value curriculum! </h1>
        <p>&nbsp;</p>
        {% if authenticated %}
            <p class="text-center"><a class="btn-lg btn-primary" href = "/logout/" role="button">Logout</a></p>
        {%  else %}
            <p class="text-center"><a class="btn-lg btn-primary" href = "/login/" role="button">Login</a>
            <p class="text-center">
                <a href='/signup/'>Click here to create an account if you don't have one</a>
            </p>
        {% endif %}


{% endblock %}