{% extends 'template.html' %}

{% block style %}

{% endblock %}

{% block script %}

{% endblock %}

{% block content %}

 <div class="container-fluid bg-body">
            <div class="row text-center" style="color: #2d5986">
                <h2>Healthcare Value Resources</h2>
            </div>
            <div class="row" style="padding-left: 5vh; font-size: large">
                <h3 style="color: #2d5986">Granular Cost Data Websites</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Website</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.healthcarebluebook.com/">Healthcare Blue Book</a></td>
                            <td>Provides a "Fair Price" for any of a variety of medical procedures, tests, and office visits, based on nationwide data and customized by zip code.  Also has some quality data.</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.guroo.com/#!">Guroo</a></td>
                            <td>Provides prices and quality measures for a variety of tests, office visits, and procedures as well as care bundles.  </td>
                        </tr>
                        <tr>
                            <td><a href="https://fairhealthconsumer.org/">Fair Health - Consumer Website/</a> </td>
                            <td>Consumer website arm of a larger organization dedicated to health care value and decision-making for consumers.  Includes estimated charge, reimbursement, and cost data</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.oshpd.ca.gov/chargemaster/">California Office of Statewide Planning and Development</a> </td>
                            <td>All hospitals in California are required by law to have published chargemasters (i.e. the charge list they use).  Other states have passed similar laws.  </td>
                        </tr>
                        <tr>
                            <td><a href="https://rscan.org/">R-Scan</a> </td>
                            <td>Radiology specific data.</td>
                        </tr>
                        <tr>
                            <td>Castlight</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Amino</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 style="color: #2d5986">National Organizations on Cost and Value</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td><a href="http://costsofcare.org/">Costs of Care</a> </td>
                             <td>An NGO dedicated to better care at lower cost.</td>
                         </tr>
                         <tr>
                             <td><a href="http://www.choosingwisely.org/">Choosing Wisely</a> </td>
                             <td>Website with Top 10 lists of low-value care to avoid</td>
                         </tr>
                         <tr>
                             <td><a href="http://www.healthcostinstitute.org/">Healthcare Cost Institute (HCCI)</a> </td>
                             <td>Some great reports and data on cost of care</td>
                         </tr>
                         <tr>
                             <td><a href="http://lowninstitute.org/">Lown Institute</a> </td>
                             <td>An advocacy group dedicated to reducing the overall cost burden.  Has a great weekly email letter called Right Care Weekly.</td>
                         </tr>
                         <tr>
                             <td><a href="http://hvpaa.org/">High-Value Practice Academic Alliance (HVPAA)</a></td>
                             <td>A new organization looking to have an academic take on high-value care.  Has a pediatric arm.  </td>
                         </tr>
                         <tr>
                             <td><a href="https://academicpeds.org/specialInterestGroups/sig_HealthCareValue.cfm">Academic Pediatric Association - Special Interest Group on Healthcare Value</a> </td>
                             <td>A group interested in this topic in a pediatric specific way.  Great way to get to know other pediatricians with this interest.</td>
                         </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 style="color: #2d5986">Databases on Cost and Value</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Database</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td><a href="https://www.ahrq.gov/research/data/hcup/index.html">Healthcare Cost and Utilization Project (HCUP)</a> </td>
                             <td>A part of AHRQ, provides a variety of different databases on quality and cost related measures.  Does not contain actual cost and charge data (I am pretty sure)</td>
                         </tr>
                         <tr>
                             <td><a href="https://www.ahrq.gov/research/data/index.html">AHRQ's Data Resource Page</a> </td>
                             <td>A link to several resources including patient surveys on costs of medical care</td>
                         </tr>
                         <tr>
                             <td><a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/NationalHealthExpendData/index.html?redirect=/nationalhealthexpenddata/">Center for Medicare and Medicaid Services (CMS) Healthcare Expenditures</a>
                             <td>Datasets on national health expenditure for the U.S.</td>
                         </tr>
                         <tr>
                             <td><a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Downloadable-Public-Use-Files/Cost-Reports/">
                                        Center for Medicare and Medicaid Services (CMS) Cost Reports</a></td>
                             <td>Datasets on national healthcare costs for the U.S.</td>
                         </tr>
                         <tr>
                             <td><a href="http://www.oecd.org/els/health-systems/health-data.html">
                                 Organization for Economic Cooperation and Development (OECD)</a> </td>
                             <td>International comparisons of healthcare costs as well as outcomes data</td>
                         </tr>
                         <tr>
                             <td><a href="http://data.worldbank.org/">
                                 World Bank Data Source</a> </td>
                             <td>A great resource for all kinds of data. Type in "Health" in the search box and see what comes up.  </td>
                         </tr>
                         <tr>
                             <td><a href="https://www.nimh.nih.gov/health/statistics/cost/mental-healthcare-cost-data-for-all-americans-2006.shtml">
                             NIMH</a> </td>
                             <td>Mental Healthcare Cost Data</td>
                         </tr>
                         <tr>
                             <td><a href="https://www.childrenshospitals.org/Programs-and-Services/Data-Analytics-and-Research/Pediatric-Analytic-Solutions/Pediatric-Health-Information-System">PHIS - Pediatric Health Information Systems</a> </td>
                             <td>Comparitive pediatric billing database</td>
                         </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 style="color: #2d5986">Predictors and Measures of Harm and Value</h3>
                <table class="table">
                    <thead><tr class="tableizer-firstrow">
                        <th>Website</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td><a href="http://www.thennt.com/">The NNT</a> </td>
                             <td>Resource with the Number Needed to treat for various conditions.  Has pediatric specific subsection.</td>
                         </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 style="color: #2d5986">Journal Sections on Value</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Journal</th>
                            <th>Section Title</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td>The Lancet</td>
                             <td>Right Care Series</td>
                             <td>Sponsored by the Lown Institute</td>
                         </tr>
                         <tr>
                             <td>Journal of Hospital Medicine</td>
                             <td>Choosing Wisely / Things We Do for No Reason</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>Hospital Pediatrics</td>
                             <td>Bending the Value Curve</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>Ellipsis Blog on Hospital Pediatrics</td>
                             <td>&nbsp;</td>
                             <td>Not a formal resource on high-value care, but many times there are topics discussed</td>
                         </tr>
                         <tr>
                             <td>JAMA Internal Medicine</td>
                             <td>Too Much Medicine</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>JAMA Internal Medicine</td>
                             <td>Less is More</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>JAMA Internal Medicine</td>
                             <td>Teachable Moments</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>BMJ</td>
                             <td>Too Much Medicine</td>
                             <td></td>
                         </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 style="color: #2d5986">Books on High-Value Care</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Author</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td>Understanding Value Based Healthcare</td>
                             <td>Chris Moriates, Vineet Arora, Neel Shah</td>
                             <td>A clinical textbook looking at concepts of value in healthcare</td>
                         </tr>
                         <tr>
                             <td>Overdiagnosed</td>
                             <td>H. Gilbert Welch</td>
                             <td>A thorough look at the topic of overdiagnosis</td>
                         </tr>
                         <tr>
                             <td>Overtreated</td>
                             <td>Shannon Brownlee</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>Hippocrates Shadow</td>
                             <td>David Newman</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td>How We Do Harm</td>
                             <td>Otis Brawley, Paul Goldberg</td>
                             <td></td>
                         </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 style="color: #2d5986">Curricula on High-Value Care</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Curriculum</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td><a href="https://www.acponline.org/clinical-information/high-value-care/resources-for-clinicians/high-value-care-cases">
                                 ACP's High Value Care Cases</a></td>
                             <td>A collection of cases illustrating key concepts of value</td>
                         </tr>
                         <tr>
                             <td><a href="https://www.acponline.org/clinical-information/high-value-care/resources-for-clinicians/high-value-care-pediatric-cases">ACP's High Value Care Pediatric Cases</a> </td>
                             <td>Pediatric cases on high value care</td>

                         </tr>
                         <tr>
                             <td><a href="https://www.mededportal.org/publication/9859">The Teaching Value Workshop </a> </td>
                             <td></td>
                        </tr>
                         <tr>
                             <td><a href="https://www.mededportal.org/publication/10356">Teaching and Evaluating High Value Care through a Novel Case-Based Approach</a></td>
                             <td></td>
                         </tr>
                         <tr>
                             <td><a href="https://www.appd.org/meetings/2014SpringPresentations/WS29Slides.pdf">Vanderbilt Chairman's Cup</a></td>
                             <td></td>
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}